* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: 20% 65% 15%;
  margin: 0;
  padding: 0;
  font-family: 'Harry Potter', sans-serif;
}

h1 {
  color: #d3a625;
  font-size: 3rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#root {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: #0E1A40;
  display: grid;
  grid-template-columns: 300px 700px;
  grid-template-rows: 20% 65% 15%;
}

.logo{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #740001;
  display: flex;
  align-items: center;
  justify-content: center;
}


.categories{
  background-color: #1A472A;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
